# Angular
/dist/
/out-tsc/
/tmp/
/coverage/
/.angular/
.angular/
/node_modules/
/package-lock.json
/yarn.lock
/.env
/.ng/
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
